<%= link_to "Create New Task", new_user_task_path %>
<%if @todos.present? %>
  <p>Below is the list of users</p>
  <table width="100%">
    <tr>
      <td>ID</td>
      <td>first_name</td>
      <td>last_name</td>
      <td>email</td>
      <td>Action</td>
    </tr>
    
    <%@todos.each do |u|%>
    <tr>
      <td><%=u[:id]%></td>
      <td>
        <%= link_to "Edit", edit_user_task(u[:id]) %> | 
      </td>
    </tr>
   <%end%>
  </table>
<%else%>
  <p>No User is Found</p>
<%end%>