/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require jquery-ui
 */

 .sign-in{
	margin-top: 50px;
	padding-left: 14px;
	padding-right: 50px;

}

.log-in{
	margin-right: 50px;
	padding-left: 29px;
	padding-top: 300px;
}

.task_table{
	margin-right: 50px;
	padding-left: 29px;

}

.background{
	background-color: gray;
}

.create_new{
	padding-left: 29px;
}


table {
    border-spacing: collapse;
    border-spacing: 0;
}

td {
    width: 100px;
    height: 25px;
    border: 1px solid black;
}


.task_table p {
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

h2 {
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}



